
.vs/FP_StrukturData/v16/.suo
.vs/FP_StrukturData/v16/Preview/Browse.VC.db
.vs/FP_StrukturData/v16/Preview/ipch/AutoPCH/b999c9d19cf84ab2/KAI.ipch
.vs/FP_StrukturData/v16/Preview/Browse.VC.opendb
Debug/FP_StrukturData.exe
Debug/FP_StrukturData.ilk
Debug/FP_StrukturData.pdb
Debug/FP_StrukturData.log
FP_StrukturData.vcxproj.user
FP_StrukturData.vcxproj.filters
FP_StrukturData.vcxproj
FP_StrukturData.sln
Debug/vc142.pdb
Debug/vc142.idb
Debug/KAI.obj
Debug/FP_StrukturData.tlog/link.write.1.tlog
Debug/FP_StrukturData.tlog/link.read.1.tlog
Debug/FP_StrukturData.tlog/link.command.1.tlog
Debug/FP_StrukturData.tlog/FP_StrukturData.lastbuildstate
Debug/FP_StrukturData.tlog/CL.write.1.tlog
Debug/FP_StrukturData.tlog/CL.read.1.tlog
Debug/FP_StrukturData.tlog/CL.command.1.tlog
